* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Number {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
  background: #f0f;
  transition: all 100ms linear;
}

.Func {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
  background: #f0f;
}
